.navbar {
  background: #3f51b5;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .logo {
    font-size: 22px;
    font-weight: bold;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 20px;

    li a {
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
