.notfound-container {
  text-align: center;
  margin-top: 80px;

  h1 {
    font-size: 80px;
    color: #3f51b5;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .btn {
    padding: 12px 25px;
    background: #3f51b5;
    color: white;
    border-radius: 6px;
    text-decoration: none;
  }
}
